<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>Hyderabadi | Rasoi</title>
</head>
<body>

    <!-- Navbar -->
    <nav>
       <a href="{{ url_for('recipe', filename='recipe.html')}}" class="logo">Hyderabadi <span>Pakwaan</span></a>
        <ul>          
            <li><a href="{{ url_for('recipe')}}"><i class="fas fa-utensils">  Recipes</i></a></li>
            <li><a href="{{ url_for('products')}}"><i class="fas fa-wine-glass">  Products</i></a></li>
            <li><a href="{{ url_for('donate')}}"><i class="fas fa-praying-hands">  Donate</i></a></li>
        </ul>
    </nav>

{% block content %}
{% endblock %}

 <!-- Footer -->
    
    <footer>
       <p>&copy; Hyderabadi rasoi | <span>Cookbook 2021</span></p>
        <ul class="social-networks">
                <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
       
    </footer>
    
</body>
</html>