<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap product grid</title>
  <link rel="stylesheet" type= "text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type= "text/css" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">OUR PRODUCTS</h1>
    <hr>
    <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/clay plates.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Clay PLates</h5>
   <h5 class="text-center">Price: $50.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

  <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/Clay-pot & water.png" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Clay Water & Yoghurt Pot</h5>
   <h5 class="text-center">Price: $50.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

  <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/handi.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Clay Handi</h5>
   <h5 class="text-center">Price: $55.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

  <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/mathki.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Mathki</h5>
   <h5 class="text-center">Price: $55.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

    <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/small handi.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Small Handi</h5>
   <h5 class="text-center">Price: $50.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

      <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/soup bowl.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Clay Soup Bowl Set</h5>
   <h5 class="text-center">Price: $550.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

   <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/tea saucer.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Tea Cup & Saucer Set</h5>
   <h5 class="text-center">Price: $50.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

   <!-----product----->
  <div class="col-md-4 product-grid">
   <div class="image">
     <a href="#">
       <img src="/workspace/IamRoughDraft/static/images/water mathka.jpg" class="w-100">
       <div class="overlay">
       <div class="detail">View Details</div>
       </div>
     </a>
   </div>
   <h5 class="text-center">Clay Mathks</h5>
   <h5 class="text-center">Price: $50.00</h5>
   <a href="#" class="btn" buy>BUY</a>
  </div>
  <!-----product----->

  </div>
</body>
</html>